#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# AntiAD module configuration
########################################
[worldserver]

###################################################################################################
#
#    AntiAD.Enable
#        Description: Enable system forbidden words.
#        Default: 1
#
#    AntiAD.MessageGMsInWorld.Enable
#        Description: Enable notify all GMs.
#        Default: 1
#
#    AntiAD.FullMessageGMsInWorld.Enable
#        Description: Enable notify full message all GMs.
#        Default: 1
#
#    AntiAD.SelfMessage.Enable
#        Description: Show forbidden word message self.
#        Default: 1
#
#    AntiAD.Mute.Enable
#        Description: Enable mute at writing forbidden word.
#        Default: 1
#
#    AntiAD.MuteGM.Enable 
#        Description: Enable mute for GMs.
#        Default: 0
#
#    AntiAD.Mute.Time 
#        Description: Mute time in minutes.
#        Default: 5
#

AntiAD.Enable = 1
AntiAD.MessageGMsInWorld.Enable = 1
AntiAD.FullMessageGMsInWorld.Enable = 1
AntiAD.SelfMessage.Enable = 1
AntiAD.Mute.Enable = 1
AntiAD.MuteGM.Enable = 1
AntiAD.Mute.Time = 1
