#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# AntiAD module configuration
########################################
[worldserver]

###################################################################################################
#
#    AntiAD.Enable
#        Description: Enable system forbidden words.
#        Default: 0
#

AntiAD.Enable = 0

#
#    AntiAD.Send.GMMessage.Enable
#        Description: Enable notify all GMs.
#        Default: 1
#
#
#    AntiAD.Send.SelfMessage.Enable
#        Description: Show forbidden word message self.
#        Default: 1
#

AntiAD.Send.GMMessage.Enable = 1
AntiAD.Send.SelfMessage.Enable = 1

#
#    AntiAD.Mute.Player.Enable
#        Description: Enable mute at writing forbidden word.
#        Default: 1
#
#    AntiAD.Mute.GM.Enable
#        Description: Enable mute for GMs.
#        Default: 0
#
#    AntiAD.Mute.Time
#        Description: Mute time in minutes.
#        Default: 1
#

AntiAD.Mute.Player.Enable = 1
AntiAD.Mute.GM.Enable = 0
AntiAD.Mute.Count = 1

#
#    AntiAD.Check.Channels
#        Description: A mask that describes which channels checks
#
#          Following flags are available
#           ANTIAD_CHANNEL_SAY      = 0 // Say
#           ANTIAD_CHANNEL_WHISPER  = 1 // Whisper
#           ANTIAD_CHANNEL_GROUP    = 2 // Group
#           ANTIAD_CHANNEL_GUILD    = 4 // Guild
#           ANTIAD_CHANNEL_CHANNEL  = 8 // Channels (lfg and etc)
#
#        Default: 8
#

AntiAD.Check.Channels = 8
