#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# PlayerCanGetExp module configuration
########################################
[worldserver]

#
#    PCGE.Enable
#        Description: Enable/Disable module for control give players exp
#        Default: 0
#
#    PCGE.MaxLevelDiff
#        Description: Set max different levels between killed creature and player
#        Default: 10
#

PCGE.Enable = 0
PCGE.MaxLevelDiff = 10
