#
# Copyright (C) since 2020 Andrei Guluaev (Winfidonarleyan/Kargatum) https://github.com/Winfidonarleyan
# Licence MIT https://opensource.org/MIT
#

########################################
# DonateIPS module configuration
########################################
[worldserver]

#
#   IPS.Donate.Enable
#

IPS.Donate.Enable = 1