#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#
[worldserver]

########################################
# AutoBalance module configuration
########################################
#
#     AB.Enable
#        Enable/Disable the autobalance system
#        Default:   1
#

AB.Enable = 1

#
#     AB.InflectionPoint series
#        Adjust value of Hyperbolic Tangent function where
#        the curve of scaling must change. A lower value means higher difficulty.
#        InflectionPoint & InflectionPointHeroic are the fallback values for 5-man dungeons
#        InflectionPointRaid10M & InflectionPointRaid10MHeroic are the fallback values for 10 man raids
#        InflectionPointRaid25M & InflectionPointRaid25MHeroic are the fallback values for 25 man raids
#        InflectionPointRaid & InflectionPointRaidHeroic are the fallback values for other raids (40-man, 20-man, 15-man, or custom size)
#        The inflection points fallback to the most specific number
#
#        Example: with 0.5 in InflectionPointRaid, a creature of raid (40) will have half of its life with 20 players in
#                 with 0.8, the same creature will have half of its life with 12 players in
#
#        Default:   0.5
#

AB.InflectionPoint = 0.5
AB.InflectionPointHeroic = 0.5

AB.InflectionPointRaid10M = 0.5
AB.InflectionPointRaid10MHeroic = 0.5

AB.InflectionPointRaid25M = 0.5
AB.InflectionPointRaid25MHeroic = 0.5

AB.InflectionPointRaid = 0.5
AB.InflectionPointRaidHeroic = 0.5

#
#     AB.BossInflectionMult
#        Multiplies the inflection point of bosses, only applies to creatures considered dungeon bosses (from dungeons or raids).
#        Example: If AB.BossInflectionMult = 0.4 and AB.InflectionPoint = 0.5, the bosses inflection point will be 0.4*0.9 = 0.36 in a normal dungeon.
#        Default:     1.0
#

AB.BossInflectionMult = 1.0

#
#     AB.levelScaling
#        Check the max level of players in map and scale creature based on it.
#        This triggers depending on the two options below AB.levelHigherOffset and AB.levelLowerOffset
#        0 = Disabled
#        1 = Enabled (only in dungeons/raids)
#        Default:     1
#

AB.LevelScaling = 1

#
#     AB.levelHigherOffset
#     AB.levelLowerOffset
#        Level Offsets between creatures will not be scaled by level.
#        You can even use it to disable scaling from lower to higher levelScaling
#        setting levelLowerOffset to 80 (max wotlk level) for example.
#        default: 3 (higher), 0 (lower)
#

AB.LevelHigherOffset = 3
AB.LevelLowerOffset  = 0

#
#     AB.levelUseDbValuesWhenExists
#        When enabled with levelScaling, the creature will use its default database values
#        instead of level scaling formula when player/party level has correspondance with
#        creature_template minlevel/maxlevel.
#
#        Default:     0 (1 = ON, 0 = OFF)
#

AB.LevelUseDbValuesWhenExists = 0

#
#     AB.LevelEndGameBoost
#        End game creatures have an exponential (not linear) regression
#        that is not correctly handled by db values. Keep this enabled
#        to have stats as near possible to the official ones.
#
#        Default:     1 (1 = ON, 0 = OFF)
#

AB.LevelEndGameBoost = 1

#
#     AB.DungeonScaleDownXP
#        Decrease individual player's amount of XP gained during a dungeon to match the
#        amount of XP gained during a full group run. Example: In a 5-man group, you
#        earn 1/5 of the total XP per kill, but if you solo the dungeon with
#        AB.DungeonScaleDownXP = 0, you will earn 5/5 of the total XP.
#        With the option enabled, you will earn 1/5.
#        Default:     0 (1 = ON, 0 = OFF)
#

AB.DungeonScaleDownXP = 0

#
#     AB.DungeonsOnly
#        Only apply scaling changes to dungeons and raids
#        Default:     1 (1 = ON, 0 = OFF)
#

AB.DungeonsOnly = 1

#
#     AB.DebugLevel
#        0 = None
#        1 = Errors Only
#        2 = Errors and Basic Information
#        3 = All  Info
#        Default:     2
#

AB.DebugLevel = 2

#
#     .AB.PlayerChangeNotify
#        Set Auto Notifications to all players in Instance that player count has changed.
#        Default:     1 (1 = ON, 0 = OFF)
#

AB.PlayerChangeNotify = 1

#
#     AB.MinHPModifier
#        Minimum Modifier setting for Health Modification
#        Default:     0.01
#

AB.MinHPModifier = 0.01

#
#     AB.MinManaModifier
#        Minimum Modifier setting for Mana Modification
#        Default:     0.01
#

AB.MinManaModifier = 0.01

#
#     AB.MinDamageModifier
#        Minimum Modifier setting for Damage Modification
#        Default:     0.01
#

AB.MinDamageModifier = 0.01

#
#     AB.Rate.*
#        You can tune all rates increasing/decreasing difficulty in a linear way
#        Note that global rate will increase all other rates. For example:
#        global = 2.0 , damage = 1.5  -> it means that damage will be 3.0
#        Default:     1.0
#

AB.Rate.Global = 1.0
AB.Rate.Health = 1.0
AB.Rate.Mana   = 1.0
AB.Rate.Armor  = 1.0
AB.Rate.Damage = 1.0

#
#     AB.playerCountDifficultyOffset
#        Offset of players inside an instance
#        Default:     0
#

AB.PlayerCountDifficultyOffset = 0

#
#     AB.ForcedIDXX
#        Sets MobIDs for the group they belong to.
#        All 5 Man Mobs should go in .AB.5.Name
#        All 10 Man Mobs should go in .AB.10.Name etc.
#

AB.ForcedID.40 = "11583,16441,30057,13020,15589,14435,18192,14889,14888,14887,14890,15302,15818,15742,15741,15740,18338"
AB.ForcedID.25 = "22997,21966,21965,21964,21806,21215,21845,19728,12397,17711,18256,18192,"
AB.ForcedID.20 = ""
AB.ForcedID.10 = "15689,15550,16152,17521,17225,16028,29324,31099"
AB.ForcedID.5 = "8317,15203,15204,15205,15305,6109,26801,30508,26799,30495,26803,30497,27859,27249"
AB.ForcedID.2 = ""

#
#     AB.DisabledID
#        Disable scaling on specific creatures
#
#

AB.DisabledID = ""
####################################################
#
#   AB REWARD SYSTEM (experimental)
#
#   AB.Reward.Enable
#       This is an experimental feature to reward a player that kill a boss when
#       a pre-wotlk dungeon/raid is completed with creature levelling enabled.
#       This is an idea to boost old contents even if you're end-game player.
#
#       Default:     0 (1 = ON, 0 = OFF)
#

AB.Reward.Enable = 0

#
#   AB.Reward.RaidToken
#   AB.Reward.DungeonToken
#
#       Default:
#           raidToken -> emblem of frost (49426)
#           dungeonToken -> emblem of triumph (47241)
#

AB.Reward.RaidToken    = 49426
AB.Reward.DungeonToken = 47241

#
#   AB.reward.MinPlayerReward
#       This conf option checks how many players are in the same
#       map before allowing the reward to be carried out
#       if MinPlayerReward is set to two and player is soloing this conf doesn't reward then.
#		this will give more a challenge to players for low level instances.
#
#       Default:     1
#

AB.Reward.MinPlayerReward = 1