#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# DungeonBuff module configuration
########################################
[worldserver]

###################################################################################################
#   DUNGEON BUFF
#   
#   DB.Enable
#       Описание: Включить систему выдачи бафов в подземельях
#       По умолчанию: 0
#
#   DB.Default.Enable
#       Описание: Включить для подземелий обычной сложности
#       По умолчанию: 1
#
#   DB.Heroic.Enable
#       Описание: Включить для подземелий героической сложности
#       По умолчанию: 1
#
#   DB.Buffs.Default
#       Описание: Список номеров спеллов (баффов) для обычной сложности (по количеству игроков от 1 до 5)
#       По умолчанию: 700201, 700202, 700203, 700204, 700205
#
#   DB.Buffs.Heroic
#       Описание: Список номеров спеллов (баффов) для героической сложности (по количеству игроков от 1 до 5)
#       По умолчанию: 700201, 700202, 700203, 700204, 700205
#

DB.Enable = 0
DB.Default.Enable = 1
DB.Heroic.Enable = 1

DB.Buffs.Default = 26662,26662,26662,26662,0
DB.Buffs.Heroic = 26662,26662,26662,26662,0