#
# This file is part of the WarheadCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# User has manually chosen to ignore the git-tests, so throw them a warning.
# This is done EACH compile so they can be alerted about the consequences.
#

########################################
# GuildLevelSystem module configuration
########################################
[worldserver]

#
#    GLS.Enable
#        Enable leveling system in guilds
#        Default: 0 (disabled)
#                 1 (enabled)
#

GLS.Enable = 1

#
#    GLS.MaxLevel
#        Maximum level for guilds
#        Default: 30
#

GLS.MaxLevel = 30

#
#    GLS.Exp.ItemID
#        ItemID for upgrade levels guild
#        Default: 37711
#

GLS.Exp.ItemID = 37711

#
#   GLS.ColorChat.Rank0
#        Color code for guild chat rank 0
#        Default: "|cffff0000"
#

GLS.ColorChat.Rank0 = "|cffff0000"

#
#   GLS.ColorChat.Rank0
#        Color code for guild chat rank 1
#        Default: "|cffff0000"
#

GLS.ColorChat.Rank1 = "|cffff0000"
